body {
 width:100%;
 height:100%;
}

#map {
 width:100%;
 height:700px;
 top:50px;
}

.title {
 font-size:350%;
}

.info{
 font-size:150%;
}

.tooltip {
 border:thin 1px #eee;
 background-color:#FFFBF0;
 padding:5px;
 width:200px;
}